
.jumbotron {
    padding: 30px 0;
}
.user-btn{
	color: white;
	width: 200px;
    height: 130px;
	margin: 10px auto;
}

#offbtn {
	background-color: red;
    /*margin-left: 40%;*/
}

#onbtn {
	background-color: green;
    /*margin-left: 20%;*/
}

#anglebox {
	text-align: center;
}

.output-box {
	border: 2px solid;
	border-radius: 6px;
    height: 130px;
	margin: 10px;
	width: 200px;
	margin: 10px auto;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .btn-lg{
		width:80%;
		font-size: 25px;
	}

	.btn-primary{
		height: 65px;
	}

	.output-box{
		width: 80%;
	}
}



