.jumbotron {
    padding: 30px 0;
}

.btn-lg{
	width: 200px;
}

#offbtn{
	background-color: red;
	color: white;
	width: 200px;
    height: 130px;
    margin-left: 40%;
}

#onbtn{
	background-color: green;
	color: white;
	width: 200px;
    height: 130px;
    margin-left: 20%;
}

#ang{
	text-align: center;
}
#ang-form{
	width: 200px;
}
.form-control{
	height: 70px;
	text-align: center;
	font-size: 32px;
}