<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="drawer drawer--right">
  <header role="banner">
  </header>
<div class="jumbotron text-center">
  <div class="container">
    <h1>Gyrobot Controls</h1>
  </div>
</div>
<div class="container">
  <div class="row">
  <div class="col-md-12 col-md-offset-5">
    <button id="connectbtn" class="btn btn-primary btn-lg">Connect to Server</button>
  </div><!-- /.col-md-6 -->
  </div><!-- /.row -->
  <hr>
  <div class="row">
  <div class="col-md-3 col-md-offset-2">
    <button id="onbtn"class="btn btn-lg">ON</button>
  </div><!-- /.col-md-6 -->
  <div class="col-md-3 col-md-offset-3">
    <button id="offbtn" class="btn btn-lg">OFF</button>
  </div><!-- /.col-md-6 -->
  </div><!-- /.row -->
  <hr>
  <div class="row">
  <div class="col-md-12 col-md-offset-5">
    <button id="swingbtn" class="btn btn-primary btn-lg">Start Swing Up</button>
  </div><!-- /.col-md-6 -->
  </div><!-- /.row -->
  <hr>
  <div class="row">
  <div class="col-md-1 col-md-offset-5">
    <div class="form-group">
    <label for="exampleInputEmail1">Angle Reading</label>
    <input class="form-control" placeholder="0">
    </div>
  </div><!-- /.col-md-6 -->
  </div><!-- /.row -->
  <div id="elias-text-test">
  </div>
</div>


</body>
</html>
