<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <header role="banner">
  </header>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Gyrobot Controls</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-xs-offset-5">
        <button id="connectbtn" class="btn btn-primary btn-lg">Connect to Server</button>
      </div><!-- /.col-xs-6 -->
    </div><!-- /.row -->
    <hr>
    <div class="row">
      <div class="col-xs-5">
        <button id="onbtn"class="btn btn-lg">ON</button>
      </div><!-- /.col-xs-3 -->
      <div id="ang"class="col-xs-2">
        <div id="ang-form" class="form-group">
          <label for="exampleInputEmail1">Angle Reading</label>
          <input class="form-control" placeholder="0°">
        </div>
      </div><!-- /.col-xs-6 -->
      <div class="col-xs-5">
        <button id="offbtn" class="btn btn-lg">OFF</button>
      </div><!-- /.col-xs-3 -->
    </div><!-- /.row -->
    <hr>
    <div class="row">
      <div class="col-xs-12 col-xs-offset-5">
        <button class="btn btn-primary btn-lg">Start Swing Up</button>
      </div><!-- /.col-xs-6 -->
    </div><!-- /.row -->
    <hr>
    <div id="elias-text-test">
    </div>
  </div><!-- /.container -->
</body>
</html>