<!DOCTYPE html>
<html>
<head>
  <title>Videos</title>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Videos</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <iframe class="embed-responsive-item" src="https://vid.me/e/45XI?stats=1&amp;tools=1" width="270" height="480" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no" style="display:block; margin: 0 auto"></iframe>
        <div style="text-align:center; font-size: 24pt">Flywheel Spinning</div>
      </div> <!-- /.col-md-4 -->
      <div class="col-md-4">
        <iframe class="embed-responsive-item" src="https://vid.me/e/Vrsg?stats=1&amp;tools=1" width="270" height="480" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no" style="display:block; margin: 0 auto"></iframe>
        <div style="text-align:center; font-size: 24pt">Swing Up</div>
      </div>
      <div class="col-md-4">
        <iframe class="embed-responsive-item" src="https://vid.me/e/9frp?stats=1&amp;tools=1" width="270" height="480" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no" style="display:block; margin: 0 auto"></iframe>
        <div style="text-align:center; font-size: 24pt">Demo</div>
      </div>
    </div> <!-- /.row -->
  </div><!-- /.container -->
</body>
</html>